*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.attribution { 
    font-family:'Poppins',sans-serif;
    font-size: 1.2rem; 
    font-weight:600;
    text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%);
 }
 body{
    background:url('./images/bg-intro-desktop.png');
    background-color:hsl(0, 100%, 74%); 
    height:100vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
 }
 .main{
    display:flex;
    justify-content:center;
    align-items:center;
    /* height:100vh; */
    margin:0 40px;
 }
 .message-container{
   width:50%;
   padding:30px 30px 30px 60px;
 }
 .message-title{
   font-family:'Poppins',sans-serif;
   font-size:3rem;
   color:white;
   margin-bottom:15px;
 }
 .message-container p{
   font-family:'Poppins', sans-serif;
   color:white;
   font-size:1rem;
 }
 .form-section{
   /* border:2px solid blue; */
   width:50%;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
 }
 .form-header{
   width:80%;
   background-color:hsl(248, 32%, 49%);
   color:white;
   padding:15px;
   text-align:center;
   margin:15px 0;
   border-radius: 10px;
   box-shadow: 0 5px 5px rgba(0, 0, 0,.5);
 }
 .form-header p{
   font-family:'Poppins',sans-serif;
 }
 .form-header p span{
   color:white;
   font-weight:bold;
 }
 .actual-form{
   width:80%;
   padding:40px 20px;
   /* border:2px solid green; */
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
   background-color:white;
   border-radius:5px;
   box-shadow: 0 5px 5px rgba(0, 0, 0,.5);
 }
 .actual-form input{
   width:80%;
   margin:10px 0;
   padding: 15px 0 15px 20px ;
   border: 1px solid rgb(211,211,211);
   font-family:'Poppins', sans-serif;
   font-weight:bold;
   color:black;
   border-radius: 5px;
   
 }
 .actual-form input:focus{
   outline:none;
   border-color:hsl(248, 32%, 49%);
   caret-color: hsl(248, 32%, 49%);
 }
 .firstName.error, .lastName.error, .email.error, .password.error{
  outline:none;
  border-color:red;
  background:url('./images/icon-error.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
 }
 .firstName.error::placeholder,.lastName.error::placeholder
 ,.email.error::placeholder, .password.error::placeholder{
  visibility:hidden;
 }
 .error-message{
  width:80%;
  font-family:'Poppins',sans-serif;
  color:red;
  text-align:right;
 }
 .submit-button{
  width:80%;
  border-radius:5px;
  margin:10px 0;
  padding: 15px 0;
  color:white;
  background-color: hsl(154, 59%, 51%);
  font-family:'Poppins',sans-serif;
  font-size:1rem;
  border: 1px solid hsl(154, 59%, 51%);
 }
 .submit-button:hover{
  cursor:pointer;
 }
 .inputWrapper{
  position:relative;
 }
 .errorFirstIcon{
  position:absolute;
  background:url('./images/icon-error.svg');
  top:0;
 }
 footer{
    margin:20px;
    /* border:2px solid black; */
    margin-bottom: 20px;
 }

 .terms{
  color:hsl(246, 25%, 77%);
  text-align:center;

 }
 .terms span{
  color:hsl(0, 100%, 74%)
 }

 @media only screen and (max-width:375px){

  body{
    width:100%;
    height:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }

  .main{
    flex-direction:column;
    margin: 0 auto;
  }
  .message-title{
    font-size:1.5rem;
    padding:15px;
    text-align:center;
  }
  .message-container{
    /* border:2px solid black; */
    width:100%;
    padding:15px;
    margin:25px 0;
  }
  .message-container p{
    text-align:center;
  }
  .form-section{
    width:100%;
    margin-bottom:20px;
  }
  .form-header{
    width:90%;
  }
  .actual-form{
    width:90%;
  }
  .actual-form input{
    width:100%;
  }

  .submit-button{
    width:100%;
  }
  .error-message{
    width:100%;
  }

 }