*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.attribution { 
    font-size: 2rem; 
    text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%);
 }
 body{
    background:url('./images/bg-intro-desktop.png');
    background-color:hsl(0, 100%, 74%); 
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
 }
 .main{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
 }
 footer{
    margin:20px;
    border:2px solid black;
    margin-bottom: 20px;
 }